<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}
g {
font: 14px sans-serif;
color: blue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var mainList ;
{% load static %}
$.ajax({
  url: '{% static "/Home/Categories.csv" %}',
  dataType: 'text',
}).done(successFunction);

function successFunction(data) {
  //var allRows = data.split(/\r?\n|\r/);
  var allRows = data.split(/\r\n|\n/);
  //var rowCells = allRows[singleRow].split(',');
 // var data = ":"
  var categories = new Array();
  
  var seedList = new Array();
 for (var singleRow = 0; singleRow < allRows.length; singleRow++) {
    var rowCells ;
	if(singleRow==0){
	}else{
		rowCells= allRows[singleRow].split(',');
		//console.log(rowCells)
		var seed=new Array();
		for (var rowcell=0;rowcell < rowCells.length;rowcell++){
			seed.push(rowCells[rowcell]);
			/*if (rowcell==0){
				categories.push(rowCells[rowcell]);
			}else{
				seed.push(rowCells[rowcell]);
			}*/
		}
	}	
	seedList.push(seed);
}
mainList  = seedList.slice();


console.log("Printing length");
console.log( seedList.length)
console.log( mainList.length)
}

function dynamicContent(word){
var disply;
disply =":";
console.log(typeof mainList)
console.log("how are you")
console.log( mainList[0])
var cat;
for(var singleCat =0;mainList.length;singleCat++){
	var cat = mainList[singleCat];
	console.log(cat);
	//cat = cat.slice();
	console.log("Printing length 2nd times");
	console.log(typeof cat);	
	console.log(cat.length);	
	for(var singleWord =0;cat.length;singleWord++){
		if(singleWord==0 && cat[singleWord] == word){
			disply = disply +","+cat[singleWord];
		}

	}}
	
	document.getElementById("seed").innerHTML = "Showing dynamically = "+disply

}

var margin = {top: 40, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

	

console.log(height)
console.log(width)
console.log( margin.top)
console.log(margin.bottom)
var formatPercent = d3.format(".0%");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1,.3);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
	
	

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
    //.tickFormat(formatPercent);

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
		// myElement = document.getElementById("seed");
		document.getElementById("seed").style.display = "block";
		//document.getElementById("seed").innerHTML = "Showing dynamically"+d.Category
		dynamicContent(d.Category);
    return "<strong>Frequency:</strong> <span style='color:red'>" + d.Frequency + "</span>";
  })

var dummy =240
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right +dummy)
    .attr("height", height + margin.top + margin.bottom+dummy)
  .append("g")
    .attr("transform", "translate(" + 150+ "," + margin.top + ")");

svg.call(tip);

d3.tsv("{% static "/Home/data.tsv" %}" , type, function(error, data) {
	if (error) throw error;
  x.domain(data.map(function(d) { return d.Category; }));
  y.domain([0, d3.max(data, function(d) { return d.Frequency; })]);
console.log(d3.max(data, function(d) { return d.Frequency; }))
console.log("adkasdasd")
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
	  .selectAll(".tick text")
	  .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-65)" );
	  //.call(wrap, x.rangeBand());
	  //console.log(x.rangeBand())

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Frequency");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.Category); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.Frequency	); })
      .attr("height", function(d) { return height - y(d.Frequency	); })
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
	  .on('mouseout', w)
	  //.on('mouseover',$('.seed').show())

});

function w(){
document.getElementById("seed").style.display = "none";
}

function type(d) {
  d.Frequency = +d.Frequency	;
  return d;
}

function wrap (text, width) {

  text.each(function() {

    var breakChars = ['/', '&', '-'],
      text = d3.select(this),
      textContent = text.text(),
      spanContent;

    breakChars.forEach(char => {
      // Add a space after each break char for the function to use to determine line breaks
      textContent = textContent.replace(char, char + ' ');
    });

    var words = textContent.split(/\s+/).reverse(),
      word,
      line = [],
      lineNumber = 0,
      lineHeight = 1.1, // ems
      x = text.attr('x'),
      y = text.attr('y'),
      dy = parseFloat(text.attr('dy') || 0),
      tspan = text.text(null).append('tspan').attr('x', x).attr('y', y).attr('dy', dy + 'em');

    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(' '));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        spanContent = line.join(' ');
        breakChars.forEach(char => {
          // Remove spaces trailing breakChars that were added above
          spanContent = spanContent.replace(char + ' ', char);
        });
        tspan.text(spanContent);
        line = [word];
        tspan = text.append('tspan').attr('x', x).attr('y', y).attr('dy', ++lineNumber * lineHeight + dy + 'em').text(word);
      }
    }
  });

}
</script>

<h3 id ="seed" hidden>Seed words here</h3>